.services-first {
    margin-top: 280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__title--color {
        color: #c9af6e;
    }
    &__title {
        
        max-width: 900px;
        margin: 0;
        font-family: "Times New Roman";
        font-weight: bold;
        font-size: 62px;
        line-height: 140%;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #313231;
        margin-right: 50px;
    }

    &__btn {
        width: 100%;
    }
}

.services-slider {
    margin-top: 140px;
    &__conter {
        font-size: 60px;
        line-height: 140%;
        text-align: right;
        color: rgba(93, 93, 93, 0.6);
    }

    &__item {
outline: none;
    }

    &__item-img {
        width: 100%;
        height: 560px;
        object-fit: cover;
    }
    &__slider{
        position: relative;
        &:before{
position: absolute;
content: '';
top: -40px;
        width:calc(29% - 40px);
        height: 1px;
        left: 65px;
        background: #313231;
        }
    }
.slick-next{
    left: 33%;
} 
.slick-arrow{
position: absolute;
top: -50px;
font-weight: bold;
font-size: 18px;
line-height: 140%;
letter-spacing: 0.09em;
color: rgba(93, 93, 93, 0.6);
transition: all .3s;
&:hover{
    color: #C9AF6E;
}
}

}
